*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
}

/* PSEUDO CLASSES */

.primary-btn:link{
    color: green;
    padding: 10px;
}

.primary-btn:visited{
    color: orange;
}

.primary-btn:hover{
color: red;
background-color: black;
}

.primary-btn:active{
color: black;
background-color: white;
border: 4px solid green;
}
ul li:first-child{
    background-color: violet;

}
ul li:last-child{
    background-color: royalblue;
}

ul :nth-child(4){
    background-color: aquamarine;
}
ul li:nth-child(2n){
    background-color: pink;
}

/* PSEUDO ELEMENTS */

h1::first-letter{
   
    font-size: 3rem;
}
p::first-line{
    font-weight: bold;
}

/* selection color changed */
::selection{
    color: chartreuse;
    background-color: black;
}

/* before & after */

h3::before{
    content: 'any this';
}

.required::after{
    content: '*';
    color: red;
}

.important::after{
    content: 'important';
    background-color: brown;
    color: white;
    padding: 0.2rem;
    font-size: 0.5rem;
    margin-left: 10px;
    vertical-align: middle;
}