*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

/* @media (min-width:400px) and (max-width:600px){
    body{
background-color: green;
    }
} */

@media (400px<= width <=600px){
    body{
background-color: green;
    }
}

/* WHEN HIEGHT IS GREATER THAN WIDTH
@media (orientation:portrait){
    body{
background-color: green;
    }
} */
/* 
@media (width<=200px){
    body{
background-color: gold;
    }
} */
