/* by default value can be change */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
    border: 20px solid red;
    margin: 20px;
    padding: 40px 30px 20px 10px;  /*top>right>bottom>left*/
    text-align: center;
    /* margin: 40px; */
}
 