*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 400px;
    background: #000;
  
    /* position: sticky; */
    
}
.box{
    width: 100px;
    height: 100px;
    overflow: auto;
}
.red{
    /* position: relative; */
    background: red;
    /* left: 200px;
    top: 200px; */
    float: left;
 
}
.green{
    background: green;
    /* works relative to the root which is relative */
    /* position: absolute; */

    /* top:100px;
    left:50px; */
    float: left;
}
.blue{
    background: blue;
    /* position: fixed;
    z-index: 2;
    top:400px */
   
}
.purple{
    background-color: purple;
    /* position: sticky;
    z-index: 3;
    top: 0; */

}
.spacer{
    height: 100vh;
}
